@import url("styles/header.css");
@import url("styles/cabecalho.css");
@import url("styles/metricas.css");
@import url("styles/vagas.css");
@import url("styles/depoimentos.css");
@import url("styles/footer.css");

:root {
    --branco: #FFFFFF;
    --branco-secundario: #F9FAFB;
    --fonte-principal: "Inter";
    --cinza: #667085;
    --cinza-secundario: #EAECF0;
    --preto: #3A404E;
    --vermelho-principal: #8E2424;
    --vermelho-secundario: #C31919;
}

body{
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}