.cabecalho {
    text-align: center;
    padding: 5em 0;
}

.cabecalho__inst {
    color: var(--vermelho-principal);
    font-weight: 600;
}

.cabecalho__titulo {
    font-size: 48px;
    font-weight: 600;
    padding: 1em 0;
}

.cabecalho__texto {
    font-size: 20px;
    color: var(--cinza);
    padding: 0 29%;
}